SUI_NETWORK=testnet
PACKAGE_ID=
SUI_MOCK=true
WALRUS_MOCK=true
WALRUS_EPOCHS=5

# Optional for future real Sui mode.
# SUI_PRIVATE_KEY=
# CONTRIBUTOR_RIDER_ADDRESS=
# CONTRIBUTOR_MERCHANT_ADDRESS=
# CONTRIBUTOR_CONSUMER_ADDRESS=
